<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.basic.mapper.TSubjectMainMapper">
    
    <resultMap type="TSubjectMain" id="TSubjectMainResult">
        <result property="id"    column="id"    />
        <result property="topicName"    column="Topic_name"    />
        <result property="remarks"    column="remarks"    />
        <result property="isDel"    column="is_del"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTSubjectMainVo">
        select id, Topic_name, remarks, is_del, create_by, create_time, update_by, update_time from t_subject_main
    </sql>

    <select id="selectTSubjectMainList" parameterType="TSubjectMain" resultMap="TSubjectMainResult">
        <include refid="selectTSubjectMainVo"/>
        <where>  
            <if test="topicName != null  and topicName != ''"> and Topic_name like concat('%', #{topicName}, '%')</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
        </where>
    </select>
    
    <select id="selectTSubjectMainById" parameterType="Long" resultMap="TSubjectMainResult">
        <include refid="selectTSubjectMainVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTSubjectMain" parameterType="TSubjectMain" useGeneratedKeys="true" keyProperty="id">
        insert into t_subject_main
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="topicName != null">Topic_name,</if>
            <if test="remarks != null">remarks,</if>
            <if test="isDel != null">is_del,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="topicName != null">#{topicName},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTSubjectMain" parameterType="TSubjectMain">
        update t_subject_main
        <trim prefix="SET" suffixOverrides=",">
            <if test="topicName != null">Topic_name = #{topicName},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTSubjectMainById" parameterType="Long">
        delete from t_subject_main where id = #{id}
    </delete>

    <delete id="deleteTSubjectMainByIds" parameterType="String">
        delete from t_subject_main where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>