<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.annrel.mapper.TAnnoReleaseMapper">
    
    <resultMap type="TAnnoRelease" id="TAnnoReleaseResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="notiType"    column="noti_type"    />
        <result property="releaDate"    column="relea_date"    />
        <result property="annDesc"    column="ann_desc"    />
        <result property="uploadName"    column="upload_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTAnnoReleaseVo">
        select id, name, noti_type, relea_date, ann_desc, upload_name, create_by, create_time, update_by, update_time
         from t_anno_release
    </sql>

    <select id="selectTAnnoReleaseList" parameterType="TAnnoRelease" resultMap="TAnnoReleaseResult">
        <include refid="selectTAnnoReleaseVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="notiType != null  and notiType != ''"> and noti_type = #{notiType}</if>
            <if test="releaDate != null "> and relea_date = #{releaDate}</if>
            <if test="annDesc != null  and annDesc != ''"> and ann_desc like concat('%', #{annDesc}, '%')</if>
            <if test="strDate != null and strDate != '' and endDate != null and endDate != ''">
                and date(relea_date) BETWEEN date(#{strDate}) AND date(#{endDate})
            </if>
        </where>
    </select>
    
    <select id="selectTAnnoReleaseById" parameterType="Long" resultMap="TAnnoReleaseResult">
        <include refid="selectTAnnoReleaseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTAnnoRelease" parameterType="TAnnoRelease" useGeneratedKeys="true" keyProperty="id">
        insert into t_anno_release
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="notiType != null">noti_type,</if>
            <if test="releaDate != null">relea_date,</if>
            <if test="annDesc != null">ann_desc,</if>
            <if test="uploadName != null">upload_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="notiType != null">#{notiType},</if>
            <if test="releaDate != null">#{releaDate},</if>
            <if test="annDesc != null">#{annDesc},</if>
            <if test="uploadName != null">#{uploadName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTAnnoRelease" parameterType="TAnnoRelease">
        update t_anno_release
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="notiType != null">noti_type = #{notiType},</if>
            <if test="releaDate != null">relea_date = #{releaDate},</if>
            <if test="annDesc != null">ann_desc = #{annDesc},</if>
            <if test="uploadName != null">upload_name = #{uploadName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTAnnoReleaseById" parameterType="Long">
        delete from t_anno_release where id = #{id}
    </delete>

    <delete id="deleteTAnnoReleaseByIds" parameterType="String">
        delete from t_anno_release where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>