<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.basic.mapper.TSupportMethodMapper">
    
    <resultMap type="TSupportMethod" id="TSupportMethodResult">
        <result property="id"    column="id"    />
        <result property="mode"    column="mode"    />
        <result property="remarks"    column="remarks"    />
        <result property="isDel"    column="is_del"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTSupportMethodVo">
        select id, mode, remarks, is_del, create_by, create_time, update_by, update_time from t_support_method
    </sql>

    <select id="selectTSupportMethodList" parameterType="TSupportMethod" resultMap="TSupportMethodResult">
        <include refid="selectTSupportMethodVo"/>
        <where>  
            <if test="mode != null  and mode != ''"> and mode = #{mode}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
            <if test="isDel != null "> and is_del = #{isDel}</if>
        </where>
    </select>
    
    <select id="selectTSupportMethodById" parameterType="Long" resultMap="TSupportMethodResult">
        <include refid="selectTSupportMethodVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTSupportMethod" parameterType="TSupportMethod" useGeneratedKeys="true" keyProperty="id">
        insert into t_support_method
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="mode != null">mode,</if>
            <if test="remarks != null">remarks,</if>
            <if test="isDel != null">is_del,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="mode != null">#{mode},</if>
            <if test="remarks != null">#{remarks},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTSupportMethod" parameterType="TSupportMethod">
        update t_support_method
        <trim prefix="SET" suffixOverrides=",">
            <if test="mode != null">mode = #{mode},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
            <if test="isDel != null">is_del = #{isDel},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTSupportMethodById" parameterType="Long">
        delete from t_support_method where id = #{id}
    </delete>

    <delete id="deleteTSupportMethodByIds" parameterType="String">
        delete from t_support_method where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>